{% extends "base.twig" %}

{% block content %}
<h1>Error</h1>
<p>{{ exception.message | nl2br }}</p>
<pre class="pre-scrollable">{{ exception.traceAsString }}</pre>
<p><a href="/">Retry</a></p>
{% endblock %}
