{% extends "base.twig" %}

{% block content %}
<h1>Please input your RSS / ATOM URL</h1>
<form action="/" method="POST">
URL: <input name="url" type="text" /> <input type="submit" />
</form>
{% endblock %}
